<template>
    <div>
        <div class="panel panel-flat bg-danger-300">
            <div class="panel-heading">
                <h3 class="panel-title">Informasi Penting</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</template>

<script>
    export default {
    }
</script>

<style scoped>

</style>