<template>
    <div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Peserta</th>
                    <th>Bidang Kegiatan</th>
                    <th>P</th>
                    <th>S</th>
                    <th>K</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(assessment,index) in getDataAssessmentsFiltered">
                    <td>
                        {{assessment.fullName}}
                    </td>
                    <td>
                        {{assessment.taskTitle}}
                    </td>
                    <td>
                        {{assessment.scores.scorePengetahuan}}
                    </td>
                    <td>
                        {{assessment.scores.scoreSikap}}
                    </td>
                    <td>
                        {{assessment.scores.scoreKetrampilan}}
                    </td>
                    <td>
                        {{assessment.scores.total}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            DataAssessments:Array
        },
        computed:{
            getDataAssessmentsFiltered(){
                let newData = this.$props.DataAssessments.filter((data)=>{
                    return data.positionName == 'PMR Wira'
                })

                return newData
            }
        },
    }
</script>

<style scoped>

</style>