<template>
    <div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Peserta</th>
                    <th>Kontingen</th>
                    <th>Bidang Kegiatan</th>
                    <th>P</th>
                    <th>S</th>
                    <th>K</th>
                </tr>
                </thead>
                <tbody v-if="assessmentResultNonTravelings" v-for="(assessment,index) in assessmentResultNonTravelings">
                <tr>
                    <td>
                        {{assessment.fullName}}
                    </td>
                    <td>
                        {{assessment.contingentName}}
                    </td>
                    <td>
                        {{assessment.taskTitle}}
                    </td>
                    <td>
                        {{assessment.scores.scorePengetahuan}}
                    </td>
                    <td>
                        {{assessment.scores.scoreSikap}}
                    </td>
                    <td>
                        {{assessment.scores.scoreKetrampilan}}
                    </td>
                    <td>
                        {{assessment.scores.total}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    export default {
        mounted(){
            this.$store.dispatch('AssessmentsStore/getAssessmentResultNonTraveling',{url:'nilai-non-traveling/'+this.$auth.user().id})
        },
        computed:{
            ...mapGetters('AssessmentsStore',{assessmentResultNonTravelings:'getAssessmentResultNonTraveling'})
        }
    }
</script>

<style scoped>

</style>