<template>
    <div>
        <div class="page-header">
            <div class="page-header-content">
                <div class="page-title">
                    <h4>
                        <i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">{{pageTitle}}</span> - {{pageSection}}
                    </h4>

                    <ul class="breadcrumb breadcrumb-caret position-right">
                       <li v-for="(breadcrumbItem,index) in breadcrumbItems" :key="index">
                           <router-link :to="{name:breadcrumbItem.url}">{{breadcrumbItem.title}}</router-link>
                       </li>
                        <li class="active">{{activeSection}}</li>
                    </ul>
                </div>

                <div class="heading-elements">
                    <div class="heading-btn-group" v-if="$router.currentRoute.name =='indexAssigment'">
                        <div v-if="user.isTaskLocked">
                            <button type="button" v-for="(headingItem,index) in headingItems" :to="{name:headingItem.url}" :key="index" class="btn btn-link btn-float has-text text-size-small legitRipple"><i
                                    :class="[headingItem.icon,'text-indigo-400']" disabled></i><span>{{headingItem.title}}</span></button>
                        </div>
                        <div v-else>
                            <router-link v-if="headingItems" v-for="(headingItem,index) in headingItems" :to="{name:headingItem.url}" :key="index" class="btn btn-link btn-float has-text text-size-small legitRipple"><i
                                    :class="[headingItem.icon,'text-indigo-400']"></i><span>{{headingItem.title}}</span></router-link>
                        </div>
                    </div>
                    <div class="heading-btn-group" v-else>
                        <router-link v-if="headingItems" v-for="(headingItem,index) in headingItems" :to="{name:headingItem.url}" :key="index" class="btn btn-link btn-float has-text text-size-small legitRipple"><i
                                :class="[headingItem.icon,'text-indigo-400']"></i><span>{{headingItem.title}}</span></router-link>
                        <router-link target="_blank" v-if="$router.currentRoute.name =='indexParticipant' && $auth.user().user_level_id == 2" :to="{name:'contingentIdCard',params:{contingentId:$auth.user().contingent_id}}" class="btn btn-link btn-float has-text text-size-small legitRipple"><i
                                :class="['icon-eye4','text-indigo-400']"></i><span>Lihat Tanda Pengenal</span></router-link>
                        <export-excel
                                class="btn btn-link btn-float has-text text-size-small legitRipple"
                                v-show="$router.currentRoute.name =='indexParticipant' && $auth.user().user_level_id == 1"
                                :data="jsonData"
                                :fields="jsonField"
                                name="data_peserta_jumbara.xls">
                            <i class="icon-file-excel"></i>
                            Export Excel
                        </export-excel>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    export default {
        props:{
            welcome:Boolean,
            pageTitle:String,
            pageSection:String,
            breadcrumbItems: Array,
            headingItems:Array,
            activeSection:String,
            jsonData:Array,
            jsonField:Object
        },
        data(){
            return {
                labelField:{
                    no:'No',
                    participantId:'ID Tanda Pengenal',
                    fullName:'Nama Lengkap',
                    contingentName:'PMI Kab/Kota',
                    positionName:'Jabatan',
                    birthDate:'Tanggal Lahir'
                },
                data:[
                    {
                        nama:'djfkajdf',
                        kelamin:'laki'
                    },
                    {
                        nama:'djfkajdf',
                        kelamin:'laki'
                    },
                    {
                        nama:'djfkajdf',
                        kelamin:'laki'
                    }
                ]
            }
        },
        mounted(){
            if(this.$auth.user().user_level_id == 2){
                this.$store.dispatch('ContingentStore/read',{id:this.$auth.user().contingent_id})
            }
            this.$store.dispatch('UserStore/read',{id:this.$auth.user().id})
        },
        computed:{
            ...mapGetters('ContingentStore',{contingent:'getContingent'}),
            ...mapGetters('UserStore',{user:'getUser'})
        }
    }
</script>

<style scoped>

</style>