<template>
    <div>
        <page-header :page-section="'Tambah'" :page-title="'Kelompok'" :active-section="'Tambah'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <form class="form-horizontal" @submit.prevent="validateForm()">
                                        <fieldset class="content-group">
                                            <legend class="text-bold">Form Tambah Kelompok</legend>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Nama Bidang Kegiatan</label>
                                                <div class="col-md-5">
                                                    <v-select :options="tasks" v-model="group.taskUuid" v-validate="'required'"
                                                              :reduce="task => task.uuid" v-if="tasks" name="taskUuid" @input="taskSelected"></v-select>
                                                    <label class="validation-error-label">{{ errors.first('taskUuid') }}</label>
                                                </div>
                                            </div>
                                            <fieldset class="content-group">
                                                <legend class="text-bold">Peserta</legend>
                                                <div class="row" v-for="(groupParticipant,i) in group.participants">
                                                    <div class="col-md-12">
                                                        <div class="form-group" v-if="participants">
                                                            <div class="col-md-7">
                                                                <v-select :options="participants" v-model="group.participants[i].participantId" v-validate="'required'"
                                                                          :reduce="participant => participant.id" name="participantId" @input="participantSelected">
                                                                </v-select>
                                                                <label class="validation-error-label">{{ errors.first('participantId') }}</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <button type="button" class="btn btn-danger" @click="removeParticipant(i)">X</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-left">
                                                    <button type="button" class="btn btn-info" @click="addParticipant">Tambah Peserta</button>
                                                </div>
                                            </fieldset>
                                        </fieldset>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary btn-icon">
                                                <i class="icon-floppy-disk position-left"></i> Simpan
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapActions,mapGetters} from 'vuex'
    import vSelect from 'vue-select'
    export default {
        data(){
            return {
                breadcrumbItems:[{url:'dashboard',title:'Dashboard'},{url:'indexGroups',title:'Data Kelompok'}],
                headingItems:[{url:'indexGroups',title:'Kembali',icon:'icon-backward2'}],
                group:{
                    taskUuid:'',
                    participants:[
                        {
                            participantId:''
                        }
                    ]
                },
                dict:{
                    custom:{
                        taskUuid:{
                            required:'Nama bidang kegiatan tidak boleh kosong'
                        },
                        participantId:{
                            required:'Peserta tidak boleh kosong'
                        }
                    }
                }
            }
        },
        components:{
            'v-select':vSelect
        },
        mounted(){
            let app = this;
            var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
            elems.forEach(function(html) {
                var switchery = new Switchery(html);
            });

            this.$store.dispatch('TasksStore/browseForSelect',{url:'/task-valuation'})
        },
        computed:{
            ...mapGetters('TasksStore',{tasks:'getTasks'}),
            ...mapGetters('ParticipantStore',{participants:'getParticipants'})
        },
        methods:{
            ...mapActions('GroupsStore',{createGroup:'add'}),
            validateForm(){
                let validator = this.$validator
                validator.localize('en',this.dict)

                validator.validateAll().then((result)=>{
                    if(result){
                        this.createGroup({input:this.group}).then((result)=>{
                            console.log('berhasil')
                            this.$toasted.success(result)
                            this.$router.push({name:'indexGroups'})
                        }).catch((error)=>{
                            console.log(error)
                        })
                    }
                })
            },
            taskSelected(value){
                this.group.participants = [];
                this.$store.dispatch('ParticipantStore/browse',{url:'/participant/by-task/'+value})
            },
            participantSelected(value){
                let index = this.participants.findIndex(data => data.id === value)
                this.participants.splice(index,1)
            },
            addParticipant(){
                let participant = {participantId:''}
                this.group.participants.push(participant)
            },
            removeParticipant(index){
                if(this.group.participants.length > 1){
                    this.group.participants.splice(index,1)
                }
            }
        }
    }
</script>

<style scoped>

</style>