<template>
    <div>
        <page-header :page-section="'Data Kelompok'" :page-title="'Kelompok'" :active-section="'Kelompok'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <v-client-table v-if="groups" :data="groups" :name="stateName" :columns="columns"
                                                    :options="options">
                                        <a href="#" class="btn btn-link" slot="participants" slot-scope="props">
                                            lihat daftar peserta
                                        </a>
                                        <div slot="actions" class="btn-group" slot-scope="props">
                                            <!--<router-link :to="{name:'editTask',params:{uuid:props.row.uuid}}" type="button"-->
                                                         <!--class="btn btn-warning btn-icon legitRipple">-->
                                                <!--<i class="icon-pencil3"></i>-->
                                            <!--</router-link>-->
                                            <button type="button" class="btn btn-icon btn-danger legitRipple"
                                                    @click="deleteGroup(props.row.uuid,props.row.group,props.row.taskTitle,props.row.fullName)">
                                                <i class="icon-trash"></i>
                                            </button>
                                        </div>
                                    </v-client-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapGetters,mapActions} from 'vuex'
    export default {
        data(){
            return {
                breadcrumbItems:[{url:'dashboard',title:'Dashboard'}],
                headingItems:[{url:'createGroups',title:'Tambah',icon:'icon-plus-circle2'}],
                headersData:['No','Kelompok', 'Nama Bidang Kegiatan','Peserta','Jabatan','Kontingen','Aksi'],
                columns:['no','groupName','taskTitle','fullName','positionName','contingentName','actions'],
                options: {
                    headings: {
                        no: 'No',
                        groupName: 'Kelompok',
                        taskTitle:'Nama Bidang Kegiatan',
                        fullName:'Peserta',
                        positionName:'Jabatan',
                        contingentName:'Kontingen',
                        actions:'Aksi'
                    },
                    templates:{
                        no:function (h,row,index) {
                            return index
                        },
                        contingentName:function (h,row,index) {
                            return 'PMI '+row.contingentName
                        }
                    },
                    useVuex:true,
                    theme:'bootstrap3',
                    sortable: ['taskTitle','fullName'],
                    filterable: ['taskTitle','fullName','contingentName']
                },
                stateName:'GroupsStore'
            }
        },
        mounted(){
            this.$store.dispatch('GroupsStore/browse',{url:'group'})
        },
        computed:{
            ...mapGetters('GroupsStore',{groups:'getGroups'})
        },
        methods:{
            ...mapActions('GroupsStore',{del:'del'}),
            deleteGroup(id,group,taskTitle,fullName){
                let index = this.groups.findIndex(data => data.uuid === id)
                this.$swal({
                    title: "Konfirmasi",
                    text: "Apakah anda ingin menghapus peserta "+fullName+" dari "+group+" penugasan "+taskTitle+" ?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya!'
                }).then((result) => {
                    if(result.value){
                        this.del({id:id,index:index}).then((result)=>{
                            this.$toasted.success(result)
                        }).catch((error)=>{
                            error.response.data.errorMessage.forEach((message)=>{
                                this.$toasted.error(message)
                            })
                        })
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>