<template>
    <div>
        <page-header :page-section="'Tambah'" :page-title="'Format Penilaian'" :active-section="'Tambah'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <form class="form-horizontal" @submit.prevent="validateForm()">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <fieldset class="content-group">
                                                    <legend class="text-bold">Form Format Penilaian</legend>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Penilaian Traveling
                                                            ?</label>
                                                        <div class="col-md-5">
                                                            <div class="checkbox checkbox-switchery">
                                                                <label>
                                                                    <input type="checkbox" class="switchery"
                                                                           checked="checked"
                                                                           v-model="assessmentFormat.isTraveling">
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group"
                                                         v-if="assessmentFormat.isTraveling == false">
                                                        <label class="control-label col-md-3">Bidang Kegiatan</label>
                                                        <div class="col-md-5">
                                                            <v-select v-if="tasks" :options="tasks" v-model="assessmentFormat.taskUuid" v-validate="'required'"
                                                                      :reduce="task => task.uuid" name="taskUuid"></v-select>
                                                            <label class="validation-error-label">{{errors.first('taskUuid') }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group"
                                                         v-if="assessmentFormat.isTraveling == false">
                                                        <label class="control-label col-md-3">Tingkatan</label>
                                                        <div class="col-md-5">
                                                            <select class="form-control" name="participantRank"
                                                                    v-model="assessmentFormat.participantRank">
                                                                <option value=""></option>
                                                                <option value="PMR Mula">PMR Mula</option>
                                                                <option value="PMR Wira">PMR Wira</option>
                                                                <option value="PMR Madya">PMR Madya</option>
                                                                <option value="Semua Tingkat">Semua Tingkat</option>
                                                            </select>
                                                            <label class="validation-error-label">{{errors.first('participantRank') }}</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Kategori </label>
                                                        <div class="col-md-5">
                                                            <select class="form-control" name="assessmentType"
                                                                    v-model="assessmentFormat.assessmentType">
                                                                <option value=""></option>
                                                                <option value="pengetahuan">Pengetahuan</option>
                                                                <option value="ketrampilan">Ketrampilan</option>
                                                                <option value="sikap">Sikap</option>
                                                            </select>
                                                        </div>

                                                    </div>

                                                    <!--<div class="form-group"-->
                                                         <!--v-if="assessmentFormat.isTraveling == false">-->
                                                        <!--<label class="control-label col-md-3">Kategori </label>-->
                                                        <!--<div class="col-md-5">-->
                                                            <!--<input type="text" class="form-control" name="assesmentType"-->
                                                                   <!--v-model="assessmentFormat.assessmentType">-->
                                                            <!--<label class="validation-error-label">{{errors.first('assessmentType') }}</label>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Sub Kategori</label>
                                                        <div class="col-md-5">
                                                            <select class="form-control" name="assessmentCategory"
                                                                    v-model="assessmentFormat.assessmentCategory" v-if="assessmentFormat.isTraveling == true">
                                                                <option value=""></option>
                                                                <option v-for="assessmentCategoryOption in assessmentCategoryOptions"
                                                                        :value="assessmentCategoryOption">
                                                                    {{assessmentCategoryOption}}
                                                                </option>
                                                            </select>
                                                            <select class="form-control" name="assessmentCategory"
                                                                    v-model="assessmentFormat.assessmentCategory" v-if="assessmentFormat.isTraveling == false">
                                                                <option value=""></option>
                                                                <option value="pengetahuan">Pengetahuan</option>
                                                                <option value="ketrampilan">Ketrampilan</option>
                                                                <option value="sikap">Sikap</option>
                                                            </select>
                                                            <label class="validation-error-label">{{errors.first('assessmentCategory')}}</label>
                                                        </div>
                                                    </div>

                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <fieldset class="content-group">
                                                    <legend class="text-bold">Kriteria Penilaian</legend>
                                                    <div class="row"
                                                         v-for="(element,i) in assessmentFormat.assessmentElements">
                                                        <fieldset class="content-group">
                                                            <legend class="text-bold">Kriteria ke {{(i+1)}}</legend>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Kriteria</label>
                                                                    <div class="col-md-10">
                                                                    <textarea class="form-control"
                                                                              v-model="assessmentFormat.assessmentElements[i].assessmentElement">
                                                                    </textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Skor</label>
                                                                    <div class="col-md-6">
                                                                        <input type="text" class="form-control"
                                                                               v-model="assessmentFormat.assessmentElements[i].elementIntegrity"
                                                                               placeholder="Skor kriteria dalam persen tanpa tanda (%)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <fieldset class="content-group">
                                                                    <legend class="text-bold">Deskripsi Skala</legend>
                                                                    <div class="row"
                                                                         v-for="(assessmentElementScale,j) in assessmentFormat.assessmentElements[i].assessmentElementScales">
                                                                        <div class="form-group">
                                                                            <label class="control-label col-md-2">Skala
                                                                                {{(j+1)}}</label>
                                                                            <div class="col-md-10">
                                                                                <textarea class="form-control"
                                                                                          v-model="assessmentFormat.assessmentElements[i].assessmentElementScales[j].textScale"
                                                                                          placeholder="masukkan  contoh:Tugas tidak selesai di laksanakan"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </fieldset>
                                                            </div>
                                                            <div class="text-center">
                                                                <button type="button" class="btn btn-danger"
                                                                        @click="removeAssessmentElement(i)">Hapus
                                                                    Kriteria Penilaian
                                                                </button>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <button type="button" class="btn btn-info"
                                                            @click="addAssessmentElement">Tambah Kriteria Penilaian
                                                    </button>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary btn-icon">
                                                <i class="icon-floppy-disk position-left"></i> Simpan
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'
    import vSelect from 'vue-select'

    export default {
        data() {
            return {
                breadcrumbItems: [{url: 'dashboard', title: 'Dashboard'}, {
                    url: 'indexAssessmentFormat',
                    title: 'Format Penilaian'
                }],
                headingItems: [{url: 'indexAssessmentFormat', title: 'Kembali', icon: 'icon-backward2'}],
                assessmentCategoryOptions: [],
                assessmentTypeOptions: [],
                assessmentFormat: {
                    isTraveling: true,
                    assessmentCategory: '',
                    assessmentType: '',
                    taskUuid: '',
                    participantRank: '',
                    assessmentElements: [
                        {
                            assessmentElement: '',
                            elementIntegrity: '',
                            assessmentElementScales: [
                                {
                                    textScale: '',
                                    valueScale: '1'
                                },
                                {
                                    textScale: '',
                                    valueScale: '2'
                                },
                                {
                                    textScale: '',
                                    valueScale: '3'
                                },
                                {
                                    textScale: '',
                                    valueScale: '4'
                                }
                            ]
                        }
                    ]
                },
                dict: {
                    custom: {
                        assessmentCategory: {
                            required: 'Nama penilaian harus di isi'
                        },
                        assessmentType: {
                            required: 'Pilih salah satu kategori penilaian'
                        },
                        taskUuid: {
                            required: 'Pilih salah satu bidang kegiatan'
                        },
                        participantRank: {
                            required: 'Pilih salah satu tingkatan'
                        }
                    }
                }
            }
        },
        components:{
            'v-select':vSelect
        },
        mounted() {
            var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
            elems.forEach(function (html) {
                var switchery = new Switchery(html);
            });
            this.$store.dispatch('TasksStore/browseForSelect', {url: '/task-valuation'})
        },
        watch: {
            assessmentType(val) {
                if (val === 'sikap') {
                    this.assessmentCategoryOptions = ['Disiplin', 'Kesopanan', 'Motivasi', 'Kerjasama', 'Kreativitas']
                } else if (val === 'ketrampilan') {
                    this.assessmentCategoryOptions = ['Expertize', 'Emphaty', 'Engineering', 'Eloquence', 'Enthusiasm']
                } else {
                    this.assessmentCategoryOptions = ['Pengetahuan', 'Ketrampilan', 'Sikap']
                }
            }
        },
        computed: {
            ...mapGetters('TasksStore', {tasks: 'getTasks'}),
            assessmentType() {
                return this.assessmentFormat.assessmentType
            },
            isTraveling() {
                return this.assessmentFormat.isTraveling
            }
        },
        methods: {
            ...mapActions('AssessmentFormatStore', {createAssessmentFormat: 'add'}),
            validateForm() {
                let validator = this.$validator
                validator.localize('en', this.dict)

                validator.validateAll().then((result) => {
                    if (result) {
                        this.createAssessmentFormat({input: this.assessmentFormat}).then((result) => {
                            this.$toasted.success(result)
                            this.$router.push({name: 'indexAssessmentFormat'})
                        }).catch((error) => {
                            console.log(error.response)
                        })
                    }
                })
            },
            addAssessmentElement() {
                let element = {
                    assessmentElement: '',
                    assessmentIntegrity: '',
                    assessmentElementScales: [
                        {
                            textScale: '',
                            valueScale: '1'
                        },
                        {
                            textScale: '',
                            valueScale: '2'
                        },
                        {
                            textScale: '',
                            valueScale: '3'
                        },
                        {
                            textScale: '',
                            valueScale: '4'
                        }
                    ]
                }
                this.assessmentFormat.assessmentElements.push(element)
            },
            removeAssessmentElement(index) {
                console.log(index)
                this.assessmentFormat.assessmentElements.splice(index, 1)
                console.log(this.assessmentFormat)
            }
        }
    }
</script>

<style scoped>

</style>