<template>
    <div>
        <page-header :page-section="'Tambah'" :page-title="'Format Penilaian'" :active-section="'Tambah'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12" v-if="assessmentFormat">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <form class="form-horizontal" @submit.prevent="validateForm()">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <fieldset class="content-group">
                                                    <legend class="text-bold">Form Format Penilaian</legend>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Bidang Kegiatan</label>
                                                        <div class="col-md-5">
                                                            <select class="form-control" name="taskUuid" v-model="assessmentFormat.taskUuid">
                                                                <option value=""></option>
                                                                <option v-for="task in tasks" :value="task.uuid">{{task.taskTitle}}</option>

                                                            </select>
                                                            <label class="validation-error-label">{{ errors.first('taskUuid') }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Tingkatan</label>
                                                        <div class="col-md-5">
                                                            <select class="form-control" name="participantRank" v-model="assessmentFormat.participantRank">
                                                                <option value=""></option>
                                                                <option value="PMR Mula">PMR Mula</option>
                                                                <option value="PMR Wira">PMR Wira</option>
                                                                <option value="PMR Madya">PMR Madya</option>
                                                            </select>
                                                            <label class="validation-error-label">{{ errors.first('participantRank') }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Kategori Penilaian</label>
                                                        <div class="col-md-5">
                                                            <select class="form-control" name="assessmentType" v-model="assessmentFormat.assessmentType">
                                                                <option value=""></option>
                                                                <option value="sikap">Sikap</option>
                                                                <option value="ketrampilan">Ketrampilan</option>
                                                            </select>
                                                            <label class="validation-error-label">{{ errors.first('assessmentType') }}</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Penilaian</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control" placeholder="Masukkan yang akan di nilai contoh: Disiplin, Kesopanan, dll"
                                                                   v-model="assessmentFormat.assessmentCategory" name="assessmentCategory">
                                                            <label class="validation-error-label">{{errors.first('assessmentCategory')}}</label>
                                                        </div>
                                                    </div>

                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <fieldset class="content-group">
                                                    <legend class="text-bold">Unsur Penilaian</legend>
                                                    <div class="row" v-for="(element,i) in assessmentFormat.assessmentElements">
                                                        <fieldset class="content-group">
                                                            <legend class="text-bold">Unsur ke {{(i+1)}}</legend>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Unsur</label>
                                                                    <div class="col-md-10">
                                                                    <textarea class="form-control" v-model="assessmentFormat.assessmentElements[i].assessmentElement">
                                                                    </textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Bobot Unsur</label>
                                                                    <div class="col-md-6">
                                                                        <input type="text" class="form-control" v-model="assessmentFormat.assessmentElements[i].elementIntegrity"
                                                                               placeholder="Bobot unsur dalam persen">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <fieldset class="content-group">
                                                                    <legend class="text-bold">Bobot</legend>
                                                                    <div class="row"
                                                                         v-for="(assessmentElementScale,j) in assessmentFormat.assessmentElements[i].assessmentElementScales">
                                                                        <div class="form-group">
                                                                            <label class="control-label col-md-2">Bobot {{(j+1)}}</label>
                                                                            <div class="col-md-10">
                                                                                <textarea class="form-control"
                                                                                       v-model="assessmentFormat.assessmentElements[i].assessmentElementScales[j].textScale"
                                                                                          placeholder="masukkan  contoh:Tugas tidak selesai di laksanakan"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </fieldset>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary btn-icon">
                                                <i class="icon-floppy-disk position-left"></i> Simpan
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapActions,mapGetters} from 'vuex'
    export default {
        data(){
            return {
                breadcrumbItems:[{url:'dashboard',title:'Dashboard'},{url:'indexAssessmentFormat',title:'Format Penilaian'}],
                headingItems:[{url:'indexAssessmentFormat',title:'Kembali',icon:'icon-backward2'}],
                dict:{
                    custom:{
                        assessmentCategory:{
                            required:'Nama penilaian harus di isi'
                        },
                        assessmentType:{
                            required:'Pilih salah satu kategori penilaian'
                        }
                    }
                }
            }
        },
        mounted(){
            var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
            elems.forEach(function(html) {
                var switchery = new Switchery(html);
            });
            this.$store.dispatch('AssessmentFormatStore/read',{id:this.$route.params.uuid,index:null})
            this.$store.dispatch('TasksStore/browse',{url:'task'})
        },
        computed:{
            ...mapGetters('AssessmentFormatStore',{assessmentFormats:'getAssessmentFormats',assessmentFormat:'getAssessmentFormat'}),
            ...mapGetters('TasksStore',{tasks:'getTasks'})
        },
        methods:{
            ...mapActions('AssessmentFormatStore',{editAssessmentFormat:'edit'}),
            validateForm(){
                let validator = this.$validator
                validator.localize('en',this.dict)

                validator.validateAll().then((result)=>{
                    if(result){
                        this.editAssessmentFormat({input:this.assessmentFormat}).then((result)=>{
                            this.$toasted.success(result)
                            this.$router.push({name:'indexAssessmentFormat'})
                        }).catch((error)=>{
                            console.log(error.response)
                        })
                    }
                })
            },
            addAssessmentElement(){
                let element ={
                    assessmentElement:'',
                    assessmentIntegrity:'',
                    assessmentElementScales:[
                        {
                            textScale:'',
                            valueScale:'1'
                        },
                        {
                            textScale:'',
                            valueScale:'2'
                        },
                        {
                            textScale:'',
                            valueScale:'3'
                        },
                        {
                            textScale:'',
                            valueScale:'4'
                        }
                    ]
                }
                this.assessmentFormat.assessmentElements.push(element)
            },
            removeAssessmentElement(index){
                console.log(index)
                this.assessmentFormat.assessmentElements.splice(index,1)
                console.log(this.assessmentFormat)
            }
        }
    }
</script>

<style scoped>

</style>