<template>
    <div>
        <page-header :page-section="'Data Format Penilaian'" :page-title="'Format Penilaian'"
                     :active-section="'Format Penilaian'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <v-client-table v-if="assessmentFormats" :data="assessmentFormats" :name="stateName"
                                                    :columns="columns"
                                                    :options="options">
                                        <div slot="assessmentElement" slot-scope="props">
                                            <button type="button" @click="getAssessmentElement(props.row.uuid)"
                                                    class="btn btn-link">Lihat Kriteria Penilaian
                                            </button>
                                        </div>
                                        <div slot="actions" class="btn-group" slot-scope="props">
                                            <!--<router-link-->
                                                    <!--:to="{name:'editAssessmentFormat',params:{uuid:props.row.uuid}}"-->
                                                    <!--type="button"-->
                                                    <!--class="btn btn-warning btn-icon legitRipple">-->
                                                <!--<i class="icon-pencil3"></i>-->
                                            <!--</router-link>-->
                                            <button type="button" class="btn btn-icon btn-danger legitRipple"
                                                    @click="deleteAssessmentFormat(props.row.uuid,props.row.assessmentCategory)">
                                                <i class="icon-trash"></i>
                                            </button>
                                        </div>
                                    </v-client-table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="modal_backdrop" class="modal fade" data-backdrop="false" tabindex="-1">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content" v-if="assessmentFormat">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h5 class="modal-title">
                                        Kriteria Penilaian Sub Kategori {{assessmentFormat.assessmentCategory}}</h5>
                                </div>

                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <fieldset class="content-group">
                                                    <div class="row"
                                                         v-for="(element,i) in assessmentFormat.assessmentElements">
                                                            <div class="col-md-5">
                                                                <fieldset class="content-group">
                                                                    <label class="text-bold">{{(i+1)}}. {{element.assessmentElement}} </label>
                                                                </fieldset>
                                                            </div>
                                                        <div class="col-md-7">

                                                            <fieldset class="content-group">
                                                                <legend class="text-bold">Deskripsi Skor</legend>
                                                                <div class="row"
                                                                     v-for="(elementScale,j) in assessmentFormat.assessmentElements[i].assessmentElementScales">
                                                                    <div class="col-md-12">
                                                                        <label class="control-label">{{(j+1)}}.{{elementScale.textScale}}</label>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        data() {
            return {
                breadcrumbItems: [{url: 'dashboard', title: 'Dashboard'}],
                headingItems: [{url: 'createAssessmentFormat', title: 'Tambah', icon: 'icon-plus-circle2'}],
                headersData: ['No', 'Kategori','Bidang Kegiatang', 'Sub Kategori', 'Kriteria Penilaian', 'Aksi'],
                columns: ['no', 'assessmentType','taskTitle', 'assessmentCategory', 'assessmentElement', 'actions'],
                uuid: null,
                options: {
                    headings: {
                        no: 'No',
                        assessmentType: 'Kategori',
                        taskTitle:'Bidang Kegiatan',
                        assessmentCategory: 'Sub Kategori',
                        assessmentElement: 'Kriteria Penilaian',
                        actions: 'Aksi'
                    },
                    templates: {
                        no: function (h, row, index) {
                            return index
                        },
                        taskTitle:function (h,row,index) {
                            if(row.taskTitle == null){
                                return 'Semua Bidang Traveling'
                            }else{
                                return row.taskTitle
                            }
                        }
                    },
                    useVuex: true,
                    theme: 'bootstrap3',
                    sortable: ['assessmentCategory', 'assessmentType','taskTitle'],
                    filterable: ['assessmentCategory', 'assessmentType','taskTitle']
                },
                stateName: 'AssessmentFormatStore'
            }
        },
        mounted() {
            let app = this
            this.$store.dispatch('AssessmentFormatStore/browse', {url: 'forpen'})
            $('#modal_backdrop').on('show.bs.modal', function () {
                app.$store.dispatch('AssessmentFormatStore/read', {id: app.uuid, index: null})
            });
        },
        computed: {
            ...mapGetters('AssessmentFormatStore', {
                assessmentFormats: 'getAssessmentFormats',
                assessmentFormat: 'getAssessmentFormat'
            })
        },
        methods: {
            ...mapActions('AssessmentFormatStore', {del: 'del'}),
            deleteAssessmentFormat(id, assessmentCategory) {
                let index = this.assessmentFormats.findIndex(data => data.uuid === id)
                this.$swal({
                    title: "Konfirmasi",
                    text: "Apakah anda ingin menghapus penilaian " + assessmentCategory,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya!'
                }).then((result) => {
                    if (result.value) {
                        this.del({id: id, index: index}).then((result) => {
                            this.$toasted.success(result)
                        }).catch((error) => {
                            error.response.data.errorMessage.forEach((message) => {
                                this.$toasted.error(message)
                            })
                        })
                    }
                })
            },
            getAssessmentElement(id) {
                this.uuid = id;
                $('#modal_backdrop').modal('toggle')
            }
        }
    }
</script>

<style scoped>

</style>