<template>
    <div>
        <page-header :page-section="'Export Data'" :page-title="'Export Data'" :active-section="'Export Data'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3">Bidang Kegiatan</label>
                                                    <div class="col-md-9">
                                                        <v-select :options="tasks" v-model="taskUuid" v-validate="'required'"
                                                                  :reduce="task => task.uuid" v-if="tasks" name="taskUuid"></v-select>
                                                        <label class="validation-error-label">{{ errors.first('taskUuid') }}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-primary" @click="showData"><i class="icon-eye8"></i> Tampilkan Data</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <v-client-table v-if="participantTasks" :data="participantTasks" :name="stateName" :columns="columns" :options="options">
                                            </v-client-table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <export-excel
                                                    v-if="participantTasks"
                                                    class="btn btn-link btn-float has-text text-size-small legitRipple"
                                                    :data="participantTasks"
                                                    :fields="jsonField"
                                                    :name="'data_peserta_penilaian_pengetahuan_bidang_'+participantTasks[0].taskTitle+'.xls'">
                                                <i class="icon-file-excel"></i>
                                                Export Excel
                                            </export-excel>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import vSelect from 'vue-select'
    export default {
        data(){
            return {
                breadcrumbItems:[{url:'dashboard',title:'Dashboard'}],
                headingItems:[],
                headersData:['id','ID Peserta','Nama Lengkap','Jabatan','Kontingen','Bidang Kegiatan','UUID Bidang Kegiatan'],
                columns:['id','participantId','fullName','positionName','contingentName','taskTitle','taskUuid'],
                tooltipMessage:{delete:'Hapus',edit:'Ubah'},
                options: {
                    headings: {
                        id: 'id',
                        participantId: 'ID Peserta',
                        fullName:'Nama Lengkap',
                        positionName: 'Jabatan',
                        contingentName:'Kontingen',
                        taskTitle:'Bidang Kegiatan',
                        taskUuid:'UUID Bidang Kegiatan'
                    },
                    useVuex:true,
                    theme:'bootstrap3',
                    sortable: ['fullName', 'positionName','taskTitle','participantId'],
                    filterable: ['fullName', 'positionName','taskTitle','participantId']
                },
                stateName:'ParticipantTasksStore',
                jsonFields:{
                    'id':'id',
                    'ID Peserta':'participantId',
                    'Nama Lengkap':'fullName',
                    'Jabatan':'positionName',
                    'Kontingen':'contingentName',
                    'Bidang Kegiatan':'taskTitle',
                    'UUID Bidang Kegaitan':'taskUuid'
                },
                taskUuid:'',
            }
        },
        components:{
            'v-select':vSelect
        },
        created(){
            this.$store.dispatch('TasksStore/browseForSelect',{url:'task'})
        },
        computed:{
            ...mapGetters('ParticipantTasksStore',{participantTasks:'getParticipantTasks'}),
            ...mapGetters('TasksStore',{tasks:'getTasks'})
        },
        methods:{
            showData(){
                this.$store.dispatch('ParticipantTasksStore/browse',{url:'participant-task-get-export/'+this.taskUuid})
            }
        }
    }
</script>

<style scoped>

</style>