<template>
    <div>
        <page-header :page-section="'Import Data'" :page-title="'Import Data'" :active-section="'Import Data'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <div class="row">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">File Import</label>
                                                <div class="col-md-9">
                                                   <input type="file" class="form-control" ref="file" v-on:change="handleFileUpload()">
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary" @click="submitUploadFile"><i class="icon-import"></i> Upload File</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data(){
            return {
                breadcrumbItems:[{url:'dashboard',title:'Dashboard'}],
                headingItems:[],
                file:''
            }
        },
        methods:{
            handleFileUpload(){
                console.log(this.$refs.file.files[0]);
                this.file = this.$refs.file.files[0]
            },
            submitUploadFile(){
                let formData = new FormData();
                formData.append('file',this.$refs.file.files[0])
                this.$store.dispatch('BaseStore/changeLoadingState',{isLoading:true,loadingMessage:'Mengunggah data...'});

                axios.post( '/nilai-pengetahuan', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(()=>{
                        this.$store.dispatch('BaseStore/changeLoadingState',{isLoading:false,loadingMessage:''});
                        this.$toasted.success('Data berhasil di unggah');
                    }).catch((error)=>{
                        console.log(error);
                    });

            }
        }
    }
</script>

<style scoped>

</style>