<template>
    <div>
        <page-header :page-title="'Beranda'" :page-section="'Ikhtisar'" :welcome="true"
                     :breadcrumb-items="breadcrumbItems" :active-section="activeSection">
        </page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div v-if="$auth.user().user_level_id == 1">
                        <dashboard-admin></dashboard-admin>
                    </div>
                    <div v-else-if="$auth.user().user_level_id == 10">
                        <dashboard-judge></dashboard-judge>
                    </div>
                    <div v-else>
                        <dashboard-contingent></dashboard-contingent>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PieChart from './charts/piechart'
    import DasboardJudge from './dashboardcomponent/dashboardjudge/DashboardJudge'
    import DashboardAdmin from './dashboardcomponent/dashboardadmin/DashboardAdmin'
    import DashboardContingent from './dashboardcomponent/dashboardcontingent/DashboardContingent'
    export default {
        data(){
            return {
                breadcrumbItems:[],
                activeSection:'Beranda',
                chartData:{
                    datasets: [{
                        data: [60, 70],
                        backgroundColor:['rgba(88, 228, 243, 1)','rgba(179, 243, 88, 1)']
                    }],

                    // These labels appear in the legend and in the tooltips when hovering different arcs
                    labels: [
                        'Sikap',
                        'Ketrampilan',
                    ]
                },
                chartOptions:{
                    responsive: true,
                    maintainAspectRatio: false
                }
            }
        },
        components:{
            'pie-chart':PieChart,
            'dashboard-judge':DasboardJudge,
            'dashboard-admin':DashboardAdmin,
            'dashboard-contingent':DashboardContingent
        }
    }
</script>

<style scoped>

</style>