<template>
    <div>
        <section>
            <div style="width: 1025px; height: 600px; padding-left: 10px;padding-right: 10px;margin-right: auto;margin-left: auto;">
                <div style="margin-left: -10px; margin-right: -10px; height: 550px;">
                    <div style="width: 30.33333333%; height: 550px;float: left; position: relative; min-height: 1px;padding-left: 5px;padding-right: 5px;"
                         v-if="participants" v-for="participant in participants">
                        <!--<img src="http://jumbara9jatim.info/img/tanda_pengenal_rev_edit.jpg" style="margin-top: 50px; width: 292px; height: 470px; position: absolute;">-->

                        <!--<div :style="'position: absolute; left: 33px; top: 202px; background-color: #'+participant.color+';border-color: #'+participant.color+'; height: 275px; width: 25px;'">-->
                        <!--</div>-->
                        <img src="http://jumbara9jatim.info/img/tanda_pengenal_rev_new.jpg" style="margin-top: 50px; width: 292px; height: 470px; position: absolute;">

                        <div :style="'position: absolute; left: 33px; top: 202px;border-left:25px solid;border-color: #'+participant.color+'; height: 275px; width: 25px;'">
                        </div>

                        <!--<h4 style="position: absolute; left: -40px; top: 300px; color: white; font-weight: bold; font-family: 'Arial'; text-transform: uppercase; transform: rotate(-90deg);">Tanda Pengenal</h4>-->

                        <img :src="'http://jumbara9jatim.info/storage/document/resized/'+participant.photograph" style="width: 100px; min-width: 90px; height: 100px; min-height: 90px; position: absolute; top: 190px; left: 73px; border-radius: 50%;">
                        <div :style="'position: absolute; text-transform: uppercase; font-weight: bold; left: 73px; top: 300px; color: #212121; height: 50px; border-left: 5px solid #'+participant.color">
                            <h5 style="margin-top: 0; margin-bottom: -3px; margin-left: 5px; font-size: 13px; font-weight: bold;">{{participant.positionName}}</h5>
                            <p style="margin-bottom: -20px; margin-left: 5px; font-size: 10px;">{{participant.fullName}}</p><br>
                            <p style="font-size: 12px; margin-left: 5px;">{{participant.contingentName}}</p>
                        </div>

                        <v-qrcode :text="participant.qrcode" :size="80" style="width: 80px;height: 80px; position: absolute; top: 360px; left: 73px;"></v-qrcode>
                        <h6 style="position: absolute; font-weight: bold; top: 440px; left: 73px; font-size: 14px; color: #212121;">
                            {{participant.participantId+''+participant.participantNumber}}
                        </h6>
                    </div>

                    <!--<div style="width: 30.33333333%; height: 550px;float: left; position: relative; min-height: 1px;padding-left: 5px;padding-right: 5px;">-->
                    <!--<img src="img/TANDA%20PENGENAL%20REV%202.jpg" style="margin-top: 50px; width: 292px; height: 470px; position: absolute;">-->

                    <!--<div style="position: absolute; left: 33px; top: 202px; background-color: #706bfa; height: 275px; width: 25px;">-->
                    <!--</div>-->

                    <!--<h4 style="position: absolute; left: -28px; top: 300px; color: white; font-weight: bold; font-family: 'Arial'; text-transform: uppercase; transform: rotate(-90deg);">Tanda Pengenal</h4>-->

                    <!--<img src="img/photo1.jpeg" style="width: 90px; height: 90px; position: absolute; top: 190px; left: 73px; border-radius: 50%;">-->
                    <!--<div style="position: absolute; text-transform: uppercase; font-weight: bold; left: 73px; top: 300px; color: #212121; height: 50px; border-left: 5px solid #706bfa;">-->
                    <!--<h5 style="margin-top: 0; margin-bottom: -6px; margin-left: 5px; font-size: 13px; font-weight: bold;">pimpinan kontingen</h5>-->
                    <!--<p style="margin-bottom: -25px; margin-left: 5px; font-size: 10px;">fajar indra kurniawan</p><br>-->
                    <!--<p style="font-size: 12px; margin-left: 5px;">pmi kabupaten Probolinggo</p>-->
                    <!--</div>-->
                    <!--<img src="img/qrcode.JPG" style="width: 22%; position: absolute; top: 360px; left: 73px;">-->
                    <!--<h6 style="position: absolute; font-weight: bold; top: 410px; left: 73px; font-size: 14px; color: #212121;">13101</h6>-->
                    <!--</div>-->
                </div>

            </div>
        </section>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import VueQRCodeComponent from 'vue-qrcode-component'
    export default {
        components:{
            'v-qrcode':VueQRCodeComponent
        },
        mounted(){
            this.$store.dispatch('ParticipantStore/browse',{url:'participant-contingent/'+this.$auth.user().contingent_id})
        },
        computed:{
            ...mapGetters('ParticipantStore',{participants:'getParticipants'})
        }
    }
</script>

<style scoped>

</style>