<template>
    <div>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info no-border">
                    <span v-if="contingent" class="text-bold">Selamat Datang Kontingen {{contingent.contingentName}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <information-widget></information-widget>
            </div>
        </div>
        <div class="row" v-if="assessmentTravelingResults">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <fieldset class="content-group">
                            <legend class="text-bold">Kegiatan Traveling : PMR Mula</legend>
                            <table-pmr-mula-widget  :data-assessments="assessmentTravelingResults"></table-pmr-mula-widget>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <fieldset class="content-group">
                            <legend class="text-bold">Kegiatan Traveling : PMR Wira</legend>
                            <table-pmr-wira-widget :data-assessments="assessmentTravelingResults"></table-pmr-wira-widget>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <fieldset class="content-group">
                            <legend class="text-bold">Kegiatan Traveling : PMR Madya</legend>
                            <table-pmr-madya-widget :data-assessments="assessmentTravelingResults"></table-pmr-madya-widget>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-if="assessmentNonTravelingResults">
            <div class="col-xs-12 col-md-9">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <fieldset class="content-group">
                            <legend class="text-bold">Kegiatan Non Traveling : PMR </legend>
                            <table-pmr-mula-non-traveling :data-assessments="assessmentNonTravelingResults"></table-pmr-mula-non-traveling>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-if="assessmentFasilatatorResults">
            <div class="col-xs-12 col-md-9">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <fieldset class="content-group">
                            <legend class="text-bold">Kegiatan Traveling : Fasilator PMR</legend>
                            <table-fasilitator :data-assessments="assessmentFasilatatorResults"></table-fasilitator>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import InformationWidget from '../InformationWidget'
    import TablePmrMulaTravelingWidget from '../TableAssessmentPmrMulaWidget'
    import TablePmrWiraTravelingWidget from '../TableAssessmentPmrWiraWidget'
    import TablePmrMadyaTravelingWidget from '../TableAssessmentPmrMadyaWidget'
    import TablePmrMulaNonTravelingWidget from '../TablePmrMulaNonTraveling'
    import TablePmrWiraNonTravelingWidget from '../TablePmrWiraNonTraveling'
    import TablePmrMadyaNonTravelingWidget from '../TablePmrMadyaNonTraveling'
    import TableFasilitatorPmrWidget from '../TableAssessmentFasilitatorWidget'
    export default {
        components:{
            'information-widget':InformationWidget,
            'table-pmr-wira-widget':TablePmrWiraTravelingWidget,
            'table-pmr-mula-widget':TablePmrMulaTravelingWidget,
            'table-pmr-madya-widget':TablePmrMadyaTravelingWidget,
            'table-pmr-mula-non-traveling':TablePmrMulaNonTravelingWidget,
            'table-pmr-wira-non-traveling':TablePmrWiraNonTravelingWidget,
            'table-pmr-madya-non-traveling':TablePmrMadyaNonTravelingWidget,
            'table-fasilitator':TableFasilitatorPmrWidget
        },
        mounted(){
            this.$store.dispatch('ContingentStore/read',{id:this.$auth.user().contingent_id})
            this.$store.dispatch('AssessmentsStore/getAssessmentResultTraveling',{url:'/nilai-pmr-kontingen/'+1+'/'+this.$auth.user().contingent_id})
            this.$store.dispatch('AssessmentsStore/getAssessmentResultNonTraveling',{url:'/nilai-pmr-kontingen/'+0+'/'+this.$auth.user().contingent_id})
            this.$store.dispatch('AssessmentsStore/getAssessmentResultFasilitatorTraveling',{url:'/nilai-fasilitator-kontingen/'+1+'/'+this.$auth.user().contingent_id})
        },
        computed:{
            ...mapGetters('ContingentStore',{contingent:'getContingent'}),
            ...mapGetters('AssessmentsStore',{
                assessmentTravelingResults:'getAssessmentResultTraveling',
                assessmentNonTravelingResults:'getAssessmentResultNonTraveling',
                assessmentFasilatatorResults:'getAssessmentResultFasilitatorTraveling'
            })
        }
    }
</script>

<style scoped>

</style>