<template>
    <div>
        <div class="row">
            <div class="col-xs-5">
                <div class="alert alert-info no-border">
                    <h5>Selamat Datang <span class="text-bold">{{$auth.user().name}}</span> </h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <information-widget></information-widget>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <fieldset class="content-group">
                            <legend class="text-bold">Penilaian Terbaru Traveling</legend>
                        </fieldset>
                        <table-assessment-all-type></table-assessment-all-type>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <fieldset class="content-group">
                            <legend class="text-bold">Penilaian Terbaru Non Traveling</legend>
                        </fieldset>
                        <table-assessment-all-nontraveling></table-assessment-all-nontraveling>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import TableAssessmentAllType from '../TableAssessmentAllTypeTraveling'
    import TableAssessmentAllTypeNonTraveling from '../TableAssessmentAllTypeNonTraveling'
    import InformationWidget from '../InformationWidget'
    export default {
        components:{
            'table-assessment-all-type':TableAssessmentAllType,
            'table-assessment-all-nontraveling':TableAssessmentAllTypeNonTraveling,
            'information-widget':InformationWidget
        },
        mounted(){
            // this.$store.dispatch('AssessmentsStore/getAssessmentResultTraveling',{url:'nilai-non-traveling/'+this.$auth.user().id})
        }
    }
</script>

<style scoped>

</style>