<template>
    <div>
        <page-header :page-section="'Buat Penugasan Peserta'" :page-title="'Penugasan Peserta'" :active-section="'Tambah'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <form class="form-horizontal" @submit.prevent="validateForm()">
                                        <fieldset class="content-group">
                                            <legend class="text-bold">Form Buat Penugasan Peserta</legend>

                                            <div class="form-group">
                                                <label class="control-label col-md-3">Peserta</label>
                                                <div class="col-md-5">
                                                    <!--<select class="form-control" name="participantId" v-model="assigment.participantId" v-validate="'required'">-->
                                                        <!--<option value=""></option>-->
                                                        <!--<option v-for="participant in participants" :value="participant.id">-->
                                                            <!--{{participant.fullName}} - {{participant.positionName}}-->
                                                        <!--</option>-->
                                                    <!--</select>-->
                                                    <!--<select2 v-model="assigment.participantId" v-validate="'required'" :options="participants"></select2>-->
                                                    <v-select :options="participants" v-model="assigment.participantId" v-validate="'required'"
                                                    :reduce="participant => participant.id" v-if="participants" name="participantId"></v-select>
                                                    <label class="validation-error-label">{{ errors.first('participantId') }}</label>
                                                </div>
                                            </div>
                                            <fieldset class="content-group">
                                                <legend class="text-bold">Penugasan</legend>
                                                <div class="form-group" v-for="(assigmentTask,i) in assigment.tasks">
                                                    <label class="control-label col-md-3">Penugasan {{(i+1)}}</label>
                                                    <div class="col-md-6">
                                                        <v-select v-if="tasks" name="taskUuid" v-model="assigment.tasks[i].taskUuid" v-validate="'required'"
                                                        :options="tasks" :reduce="task => task.uuid" @input="taskSelected">
                                                        </v-select>
                                                        <label class="validation-error-label">{{ errors.first('taskUuid') }}</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button type="button" class="btn-danger" @click="removeTask(i)">X</button>
                                                    </div>
                                                </div>
                                                <div class="text-left">
                                                    <button type="button" class="btn btn-info" @click="addTask">Tambah Penugasan</button>
                                                </div>
                                            </fieldset>

                                        </fieldset>
                                        <div class="text-right">

                                            <button type="submit" class="btn btn-primary btn-icon">
                                                <i class="icon-floppy-disk position-left"></i> Simpan
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapActions,mapGetters} from 'vuex'
    import vSelect from 'vue-select'
    export default {
        data(){
            return {
                breadcrumbItems:[{url:'dashboard',title:'Dashboard'},{url:'indexAssigment',title:'Data Penugasan'}],
                headingItems:[{url:'indexAssigment',title:'Kembali',icon:'icon-backward2'}],
                assigment:{
                    participantId:'',
                    tasks:[
                        {
                            taskUuid:''
                        }
                    ]
                },
                dict:{
                    custom:{
                        participantId:{
                            required:'Pilih salah satu peserta dari kontingen anda'
                        },
                        taskUuid:{
                            required:'Pilih salah satu penugasan'
                        }
                    }
                }
            }
        },
        components:{
            'v-select':vSelect
        },
        mounted(){
            var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
            elems.forEach(function(html) {
                var switchery = new Switchery(html);
            });
            this.$store.dispatch('ParticipantStore/browseForSelect',{url:'/participant/task/'+this.$auth.user().contingent_id})
            this.$store.dispatch('TasksStore/browseForSelect',{url:'/task-valuation'})
        },
        computed:{
            ...mapGetters('TasksStore',{tasks:'getTasks'}),
            ...mapGetters('ParticipantStore',{participants:'getParticipants'})
        },
        methods:{
            ...mapActions('ParticipantTasksStore',{createParticipantTask:'add'}),
            validateForm(){
                let validator = this.$validator
                validator.localize('en',this.dict)

                validator.validateAll().then((result)=>{
                    if(result){
                        this.createParticipantTask({input:this.assigment}).then((result)=>{
                            this.$toasted.success(result)
                            this.$router.push({name:'indexAssigment'})
                        }).catch((error)=>{
                            if(error.response.data){
                                error.response.data.errorMessage.forEach((message)=>{
                                    this.$toasted.error(message)
                                })
                            }
                        })
                    }
                })
            },
            addTask(){
                if(this.assigment.tasks.length <=6){
                    let task = {taskUuid:''}
                    this.assigment.tasks.push(task)
                }
            },
            removeTask(index){
                if(this.assigment.tasks.length >1){
                    this.assigment.tasks.splice(index,1)
                }
            },
            taskSelected(value){
                let index = this.tasks.findIndex(data => data.uuid === value)
                this.tasks.splice(index,1)
            }
        }
    }
</script>

<style scoped>

</style>