<template>
    <div>
        <page-header :page-section="'Penugasan'" :page-title="'Penugasan'" :active-section="'Data Penugasan'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover" v-if="participantTasks">
                                                    <thead>
                                                    <tr>
                                                        <th rowspan="2">No</th>
                                                        <th rowspan="2">ID</th>
                                                        <th rowspan="2">Nama Peserta</th>
                                                        <th rowspan="2">Jabatan</th>
                                                        <th colspan="7" class="text-center">Penugasan</th>
                                                        <th rowspan="2">Aksi</th>
                                                    </tr>
                                                    <tr>
                                                        <th v-for="assigmentCount in assigmentCounts">{{assigmentCount}}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="(participant,i) in participantTasks">
                                                        <td>{{(i+1)}}</td>
                                                        <td>{{participant.participantIdCard}}</td>
                                                        <td>{{participant.fullName}}</td>
                                                        <td>{{participant.positionName}}</td>
                                                        <td v-for="(assigmentCount,j) in assigmentCounts">
                                                            <div v-if="participantTasks[i].tasks[j]">
                                                                {{participantTasks[i].tasks[j].taskTitle}}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <!--<router-link :to="{name:'editParticipantTask',params:{id:participant.participantId}}" type="button"-->
                                                                             <!--class="btn btn-warning btn-icon legitRipple">-->
                                                                    <!--<i class="icon-pencil3"></i>-->
                                                                <!--</router-link>-->
                                                                <button type="button" class="btn btn-icon btn-danger legitRipple"
                                                                        @click="deleteParticipantTask(participant.participantId,participant.fullName)"
                                                                        data-popup="tooltip" title="Hapus" data-placement="top" id="top">
                                                                    <i class="icon-trash"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-12" v-if="user">
                                            <button type="button" class="btn btn-primary btn-icon legitRipple" v-if="user.isTaskLocked" disabled>Penugasan Terkunci</button>
                                            <button v-else type="button" class="btn btn-primary btn-icon legitRipple" @click="taskLock">Kunci Penugasan</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapGetters,mapActions} from 'vuex'
    export default {
        data(){
            return {
                breadcrumbItems: [{url: 'dashboard', title: 'Dashboard'}],
                headingItems: [{url: 'createAssigment', title: 'Buat Penugasan', icon: 'icon-file-plus2'}],
                assigmentCounts:7,
            }
        },
        mounted(){
            this.$store.dispatch('ParticipantTasksStore/browse',{url:'/participant-task/'+this.$auth.user().contingent_id})
            this.$store.dispatch('UserStore/read',{id:this.$auth.user().id})
        },
        computed:{
            ...mapGetters('ParticipantTasksStore',{participantTasks:'getParticipantTasks'}),
            ...mapGetters('UserStore',{user:'getUser'})
        },
        methods:{
            ...mapActions('ParticipantTasksStore',{del:'del'}),
            ...mapActions('UserStore',{editTaskLockStatus:'changeLockTaskStatus'}),
            deleteParticipantTask(participantId,participantName){
                let index = this.participantTasks.findIndex(data => data.participantId === participantId)
                this.$swal({
                    title: "Konfirmasi",
                    text: "Apakah anda ingin menghapus data penugasan peserta "+participantName,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya!'
                }).then((result) => {
                    if(result.value){
                        this.del({id:participantId,index:index}).then((result)=>{
                            this.$toasted.success(result)
                        }).catch((error)=>{
                            error.response.data.errorMessage.forEach((message)=>{
                                this.$toasted.error(message)
                            })
                        })
                    }
                })
            },
            taskLock(){
                this.$swal({
                    title: "Konfirmasi",
                    text: "Apakah anda yakin ingin mengunci penugasan, jika penugasan sudah anda kunci maka anda tidak akan dapat mengubahnya",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya!'
                }).then((result) => {
                    if(result.value){
                        this.user.isTaskLocked = 1
                        this.editTaskLockStatus({input:this.user}).then((result)=>{
                            this.$toasted.success(result)
                            this.$router.push({name:'indexParticipant'})
                        }).catch((error)=>{
                            error.response.data.errorMessage.forEach((message)=>{
                                this.$toasted.error(message)
                            })
                        })
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>