<template>
    <div>
        <page-header :page-section="'Menilai'" :page-title="'Menilai'" :active-section="'menilai'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <form class="form-horizontal" @submit.prevent="validateForm">
                                        <fieldset class="content-group">
                                            <legend class="text-bold">Form Tambah Bidang Kegiatan</legend>

                                            <div class="form-group" v-if="tasks">
                                                <label class="control-label col-md-3">Bidang Kegiatan</label>
                                                <div class="col-md-5">
                                                    <v-select :options="tasks" v-validate="'required'"
                                                              v-model="taskUuid"
                                                              :reduce="task => task.uuid" v-if="tasks" name="taskUuid"
                                                              @input="taskSelected"></v-select>
                                                    <label class="validation-error-label">{{ errors.first('taskUuid') }}</label>
                                                </div>
                                            </div>
                                            <div class="form-group" v-if="judgeTaskGroups">
                                                <label class="control-label col-md-3">Kelompok</label>
                                                <div class="col-md-5">
                                                    <select class="form-control" name="judgeTaskGroups" v-model="judgeTaskGroup">
                                                        <option value="">Pilih Kelompok</option>
                                                        <option v-for="(judgetTaskGroupData,index) in judgeTaskGroups" :value="judgetTaskGroupData">
                                                            {{judgetTaskGroupData.groupName}}
                                                        </option>
                                                    </select>
                                                    <label class="validation-error-label">{{ errors.first('taskUuid') }}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Jenis Penilaian</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control"
                                                           v-model="judgeTaskGroup.judgingType" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Kategori Penilaian</label>
                                                <div class="col-md-5">
                                                    <select class="form-control" v-model="assessmentType">
                                                        <option value=""></option>
                                                        <option value="pengetahuan">Pengetahuan</option>
                                                        <option value="ketrampilan">ketrampilan</option>
                                                        <option value="sikap">sikap</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                            <div v-if="assessmentFormats">
                                                <div v-if="judgeTaskGroup.judgingType === 'Individu'">
                                                    <div class="row" v-if="assessmentFormats">
                                                        <div class="col-xs-12">
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered table-striped">
                                                                    <thead>
                                                                    <tr style="border: none">
                                                                        <th width="350px"></th>
                                                                        <th v-for="(assessmentParticipant,participantIndex) in assessmentFormats.assessmentParticipants">
                                                                            <div class="row text-center">
                                                                                <div class="col-xs-12">
                                                                                    <img style="max-width: 150px;max-height: 150px;min-height: 150px;min-width: 150px"
                                                                                         class="img-circle"
                                                                                         :src="'http://jumbara9jatim.info/storage/document/resized/'+assessmentParticipant.photograph">
                                                                                </div>
                                                                                <div class="col-xs-12">
                                                                                    {{assessmentParticipant.fullName}}
                                                                                </div>
                                                                                <div class="col-xs-12">
                                                                                    {{assessmentParticipant.positionName}}
                                                                                </div>
                                                                                <div class="col-xs-12">
                                                                                    {{assessmentParticipant.contingentName}}
                                                                                </div>
                                                                            </div>
                                                                        </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Kriteria</th>
                                                                        <th v-for="assessmentParticipant in assessmentFormats.assessmentParticipants" class="text-center">Skala</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody v-for="(assessmentCategory,assessmentCategoryIndex) in assessmentFormats['format']">
                                                                    <tr>
                                                                        <td :colspan="(assessmentFormats.assessmentParticipants.length+1)"
                                                                            class="text-bold text-uppercase">
                                                                            {{assessmentCategory.assessmentCategory}}
                                                                        </td>
                                                                    </tr>
                                                                    <tr v-for="(assessmentElement, assessmentElementIndex) in assessmentFormats['format'][assessmentCategoryIndex].elements">
                                                                        <td>{{assessmentElement.assessmentElement}}</td>
                                                                        <td v-for="(assessmentParticipant,assessmentParticipantIndex) in assessmentFormats.assessmentParticipants">
                                                                            <div class="row">
                                                                                <div class="col-xs-12">
                                                                                    <div class="form-group">
                                                                                        <label class="radio-inline pl-15 ml-15"
                                                                                               v-for="(scale,scaleIndex) in assessmentFormats['format'][assessmentCategoryIndex].elements[assessmentElementIndex].elementScales">
                                                                                            <input type="radio"
                                                                                                   :name="assessmentElement.assessmentElement+'-'+assessmentParticipantIndex"
                                                                                                   :value="scaleIndex+1"
                                                                                                   :disabled="assessmentFormats['disable']"
                                                                                            @click="scaleSelected(assessmentParticipantIndex,
                                                                                            assessmentCategory.assessmentCategoryUuid,
                                                                                            assessmentFormats['format'][assessmentCategoryIndex].elements[assessmentElementIndex].elementUuid,
                                                                                            assessmentFormats['format'][assessmentCategoryIndex].assessmentType,
                                                                                            assessmentFormats['format'][assessmentCategoryIndex].elements[assessmentElementIndex].elementScales[scaleIndex].uuid,
                                                                                            assessmentParticipant.assessments[assessmentCategoryIndex].elements[assessmentElementIndex].elementScales[scaleIndex].valueScale,
                                                                                            assessmentFormats['format'][assessmentCategoryIndex].elements[assessmentElementIndex].elementIntegrity,judgeTaskGroup.judgingType)" v-validate="'required'">
                                                                                            {{assessmentParticipant.assessments[assessmentCategoryIndex].elements[assessmentElementIndex].elementScales[scaleIndex].valueScale}}
                                                                                        </label>
                                                                                        <label class="validation-error-label">{{ errors.first(assessmentElement.assessmentElement+'-'+assessmentParticipantIndex) }}</label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <!--<tr>-->
                                                                        <!--<td>Total Kriteria</td>-->
                                                                        <!--<td v-for="(assessmentParticipant,assessmentParticipantIndex) in assessmentFormats.assessmentParticipants">-->
                                                                            <!--{{assessmentFormats.assessmentParticipants[assessmentParticipantIndex].assessments[assessmentCategoryIndex].total}}-->
                                                                        <!--</td>-->
                                                                    <!--</tr>-->
                                                                    </tbody>
                                                                    <!--<tfoot>-->
                                                                    <!--<tr>-->
                                                                        <!--<th>Total</th>-->
                                                                        <!--<th v-for="(assessmentParticipant,assessmentParticipantIndex) in assessmentFormats.assessmentParticipants" class="text-center">-->
                                                                            <!--{{assessmentFormats.assessmentParticipants[assessmentParticipantIndex].total}}-->
                                                                        <!--</th>-->
                                                                    <!--</tr>-->
                                                                    <!--</tfoot>-->
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div v-else>
                                                    <div class="row" v-if="assessmentFormats">
                                                        <table class="table table-bordered table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th rowspan="2">Kriteria</th>
                                                                <th colspan="4">Skala</th>
                                                            </tr>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>2</td>
                                                                <td>3</td>
                                                                <td>4</td>
                                                            </tr>
                                                            </thead>
                                                            <tbody v-for="(assessmentCategory,assessmentCategoryIndex) in assessmentFormats['format']">
                                                            <tr v-for="(element,elementIndex) in assessmentFormats['format'][assessmentCategoryIndex].elements">
                                                                <td>{{element.assessmentElement}}</td>
                                                                <td v-for="(elementScale,scaleIndex) in assessmentFormats['format'][assessmentCategoryIndex].elements[elementIndex].elementScales">
                                                                    <div class="form-group">
                                                                        <label class="radio-inline pl-15 ml-15">
                                                                            <input type="radio"
                                                                                   :name="element.assessmentElement"
                                                                                   :value="scaleIndex+1"
                                                                                   :disabled="assessmentFormats['disable']"
                                                                                   @click="scaleSelectedGroup('',
                                                                                   assessmentCategory.assessmentCategoryUuid,
                                                                                   assessmentFormats['format'][assessmentCategoryIndex].elements[elementIndex].elementUuid,
                                                                                   assessmentFormats['format'][assessmentCategoryIndex].assessmentType,
                                                                                   assessmentFormats['format'][assessmentCategoryIndex].elements[elementIndex].elementScales[scaleIndex].uuid,
                                                                                   assessmentFormats['format'][assessmentCategoryIndex].elements[elementIndex].elementScales[scaleIndex].valueScale,
                                                                                   assessmentFormats['format'][assessmentCategoryIndex].elements[elementIndex].elementIntegrity,
                                                                                   judgeTaskGroup.judgingType)" v-validate="'required'">
                                                                            {{elementScale.valueScale}} . {{elementScale.textScale}}
                                                                        </label>
                                                                        <label class="validation-error-label">{{ errors.first(element.assessmentElement) }}</label>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </fieldset>
                                        <div class="text-right">
                                            <button type="submit" @click="validateForm"
                                                    class="btn btn-primary btn-icon">
                                                <i class="icon-floppy-disk position-left"></i> Simpan
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    // {type:'',assessmentElementUuid:'',scaleValue:'',elementIntegrity:''}
    import {mapActions, mapGetters} from 'vuex'
    import vSelect from 'vue-select'

    export default {
        data() {
            return {
                breadcrumbItems: [{url: 'dashboard', title: 'Dashboard'}],
                headingItems: [],
                assessmentType: '',
                judgeTaskGroup:{},
                assessments: {participantAssessments: []},
                judgingType: '',
                taskUuid: '',
                dict:{
                    en: {
                        messages:{
                            required: () => 'Skala nilai belum di pilih'
                        }
                    }
                }
            }
        },
        components: {
            'v-select': vSelect
        },
        created(){
            this.$store.dispatch('AssessmentFormatStore/browse',{url:''})
        },
        mounted() {
            let app = this;
            var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
            elems.forEach(function (html) {
                var switchery = new Switchery(html);
            });

            this.$store.dispatch('TasksStore/browseForSelect', {url: '/penilai-task/' + this.$auth.user().id})
            this.$store.dispatch('AssessmentFormatStore/browse',{url:''})
        },
        computed: {
            ...mapGetters('TasksStore', {tasks: 'getTasks'}),
            ...mapGetters('JudgeTaskGroupsStore', {judgeTaskGroups: 'getJudgeTaskGroups'}),
            ...mapGetters('ParticipantStore', {participants: 'getParticipants'}),
            ...mapGetters('AssessmentFormatStore', {assessmentFormats: 'getAssessmentFormats'}),
            getJudgingType() {
                return this.judgingType
            }
        },
        watch: {
            assessmentType(value){
                this.$store.dispatch('AssessmentFormatStore/browse', {url: '/forpen/type/' + value + '/' + this.judgeTaskGroup.isTraveling+'/'+this.judgeTaskGroup.taskUuid+'/'+this.judgeTaskGroup.groupUuid+'/'+this.judgeTaskGroup.userId})
            },
            judgeTaskGroup(value){

            }
        },
        methods: {
            ...mapActions('AssessmentsStore', {createAssessment: 'add'}),
            ...mapActions('AssessmentFormatStore',{editAssessment:'updateAssessmentParticipant'}),
            validateForm() {
                let validator = this.$validator
                validator.localize(this.dict)
                validator.validateAll().then((result)=>{
                    if(result){
                        this.$swal({
                            title: "Yakin ingin menyimpan penilaian?",
                            text: "Silahkan and cek kembali penilaian anda sebelum anda simpan karena penilaian yang sudah di simpan tidak bisa diubah",
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Ya!'
                        }).then((r) => {
                            if (r.value) {
                                this.assessmentFormats.judgeId = this.$auth.user().id
                                this.assessmentFormats.type = this.judgeTaskGroup.judgingType
                                this.assessmentFormats.taskUuid = this.taskUuid
                                this.assessmentFormats.groupUuid = this.judgeTaskGroup.groupUuid
                                this.assessmentFormats.judgePositionId = this.judgeTaskGroup.judgePositionId
                                // if (this.judgingType === 'Kelompok') {
                                //     this.participants.forEach((participant) => {
                                //         this.assessmentFormats.participantAssessments
                                //     })
                                // }
                                this.createAssessment({input: this.assessmentFormats}).then((result) => {
                                    this.$toasted.success('Penilaian berhasil di simpan')
                                    this.$router.push({name: 'dashboard'})
                                }).catch((error) => {
                                    console.log(error)
                                    // this.$toasted.error('Gagal meyimpan penilaian')
                                })
                            }
                        })
                    }
                })
            },
            taskSelected(value) {
                this.$store.dispatch('JudgeTaskGroupsStore/getJudgeByTask', {url: '/penilai/juri/' + this.$auth.user().id + '/task/' + value});
            },
            scaleSelected(assessmentParticipantIndex,assessmentCategoryUuid,assessmentElementUuid,assessmentType,scaleUuid,valueScale,integrity,judgingType) {
                console.log('tes')
                this.editAssessment({
                    assessmentParticipantIndex:assessmentParticipantIndex,
                    assessmentCategoryUuid:assessmentCategoryUuid,
                    assessmentElementUuid:assessmentElementUuid,
                    assessmentType:assessmentType,
                    scaleUuid:scaleUuid,
                    valueScale:valueScale,
                    integrity:integrity,
                    judgingType:judgingType
                })
            },
            scaleSelectedGroup(assessmentParticipantIndex,assessmentCategoryUuid,assessmentElementUuid,assessmentType,scaleUuid,valueScale,integrity,judgingType){
                this.editAssessment({
                    assessmentParticipantIndex:null,
                    assessmentCategoryUuid:assessmentCategoryUuid,
                    assessmentElementUuid:assessmentElementUuid,
                    assessmentType:assessmentType,
                    scaleUuid:scaleUuid,
                    valueScale:valueScale,
                    integrity:integrity,
                    judgingType:judgingType
                })
            }
        }
    }
</script>

<style scoped>

</style>