<template>
    <div>
        <page-header :page-section="'Hasil'" :page-title="'Menilai'" :active-section="'Hasil'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <chart :chartdata="chartData" :options="chartOptions"></chart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import Chart from './chart'
    export default {
        data(){
            return {
                breadcrumbItems:[{url:'dashboard',title:'Dashboard'},{url:'createAssessment',title:'Menilai'}],
                headingItems:[{url:'createAssessment',title:'Kembali',icon:'icon-backward2'}],
                chartData:{
                    datasets: [{
                        data: [60, 70],
                        backgroundColor:['rgba(88, 228, 243, 1)','rgba(179, 243, 88, 1)']
                    }],

                    // These labels appear in the legend and in the tooltips when hovering different arcs
                    labels: [
                        'Sikap',
                        'Ketrampilan',
                    ]
                },
                chartOptions:{
                    responsive: true,
                    maintainAspectRatio: false
                }
            }
        },
        components:{
            'chart':Chart
        }
    }
</script>

<style scoped>

</style>