<template>
    <div>
        <page-header :page-section="'Tambah Penilai'" :page-title="'Penilai'" :active-section="'Tambah Penilai'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12" v-if="judgeTaskGroup">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <form class="form-horizontal" @submit.prevent="validateForm()">
                                        <fieldset class="content-group">
                                            <legend class="text-bold">Form Tambah Penilai</legend>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Tata Cara Penilaian</label>
                                                <div class="col-md-5">
                                                    <select class="form-control" name="judgingType" v-model="judgeTaskGroup.judgingType">
                                                        <option value=""></option>
                                                        <option value="Individu">Individu</option>
                                                        <option value="Kelompok">Kelompok</option>
                                                    </select>
                                                    <label class="validation-error-label">{{errors.first('judgingType') }}</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3">Penilai</label>
                                                <div class="col-md-5">
                                                    <v-select v-if="participants" :options="participants" v-model="judgeTaskGroup.participantId"
                                                              v-validate="'required'" :reduce="participant => participant.id" name="participantId"></v-select>
                                                    <label class="validation-error-label">{{errors.first('participantId') }}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Nama Bidang Kegiatan</label>
                                                <div class="col-md-5">
                                                    <v-select :options="tasks" v-model="judgeTaskGroup.taskUuid" v-validate="'required'"
                                                              :reduce="task => task.uuid" v-if="tasks" name="taskUuid" @input="taskSelected"></v-select>
                                                    <label class="validation-error-label">{{ errors.first('taskUuid') }}</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3">Kelompok</label>
                                                <div class="col-md-5">
                                                    <v-select v-if="taskGroups" :options="taskGroups" v-model="judgeTaskGroup.groupUuid" v-validate="'required'"
                                                              :reduce="taskGroup => taskGroup.uuid" name="groupUuid"></v-select>
                                                    <label class="validation-error-label">{{ errors.first('groupUuid') }}</label>
                                                </div>
                                            </div>


                                        </fieldset>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary btn-icon">
                                                <i class="icon-floppy-disk position-left"></i> Simpan
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapActions,mapGetters} from 'vuex'
    import vSelect from 'vue-select'
    export default {
        data(){
            return {
                breadcrumbItems:[{url:'dashboard',title:'Dashboard'},{url:'indexJudgeTaskGroup',title:'Penilai'}],
                headingItems:[{url:'indexJudgeTaskGroup',title:'Kembali',icon:'icon-backward2'}],
                dict:{
                    custom:{
                        participantId:{
                            required:'Pilih salah satu penilai'
                        },
                        taskUuid:{
                            required:'Pilih salah satu bidang kegiatan'
                        },
                        groupUuid:{
                            required:'Pilih salah satu kelompok'
                        },
                        judgingType:{
                            required:'Pilih salah satu tata cara penilaian'
                        }
                    }
                }
            }
        },
        components:{
            'v-select':vSelect
        },
        mounted(){
            let app = this;
            var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
            elems.forEach(function(html) {
                var switchery = new Switchery(html);
            });
            this.$store.dispatch('JudgeTaskGroupsStore/read',{id:this.$route.params.uuid,index:null});
            this.$store.dispatch('ParticipantStore/browseForSelect',{url:'/participant-judge'})
            this.$store.dispatch('TasksStore/browseForSelect',{url:'/task-valuation'})
        },
        computed:{
            ...mapGetters('ParticipantStore',{participants:'getParticipants'}),
            ...mapGetters('TasksStore',{tasks:'getTasks'}),
            ...mapGetters('GroupsStore',{taskGroups:'getGroups'}),
            ...mapGetters('JudgeTaskGroupsStore',{judgeTaskGroup:'getJudgeTaskGroup'})
        },
        methods:{
            ...mapActions('JudgeTaskGroupsStore',{editJudgeTaskGroup:'edit'}),
            validateForm(){
                let validator = this.$validator
                validator.localize('en',this.dict)

                validator.validateAll().then((result)=>{
                    if(result){
                        this.editJudgeTaskGroup({input:this.judgeTaskGroup}).then((result)=>{
                            this.$toasted.success(result)
                            this.$router.push({name:'indexJudgeTaskGroup'})
                        }).catch((error)=>{
                            console.log(error.response)
                        })
                    }
                })
            },
            taskSelected(value){
                this.$store.dispatch('GroupsStore/browseForSelect',{url:'/group-task/'+value})
            }
        }
    }
</script>

<style scoped>

</style>