<template>
    <div>
        <page-header :page-section="'Data Kelompok Juri'" :page-title="'Kelompok Juri'" :active-section="'Kelompok Juri'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <v-client-table v-if="judgeTaskGroups" :data="judgeTaskGroups" :name="stateName" :columns="columns"
                                                    :options="options">
                                        <!--<div slot="participants" slot-scope="props">-->
                                            <!--<button type="button"-->
                                                    <!--class="btn btn-link">Lihat Peserta-->
                                            <!--</button>-->
                                        <!--</div>-->
                                        <div slot="actions" class="btn-group" slot-scope="props">
                                            <router-link :to="{name:'editJudgeTaskGroup',params:{uuid:props.row.uuid}}" type="button"
                                                         class="btn btn-warning btn-icon legitRipple">
                                                <i class="icon-pencil3"></i>
                                            </router-link>
                                            <button type="button" class="btn btn-icon btn-danger legitRipple"
                                                    @click="deleteJudge(props.row.uuid,props.row.taskTitle,props.row.groupName,props.row.fullName)">
                                                <i class="icon-trash"></i>
                                            </button>
                                        </div>
                                    </v-client-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapGetters,mapActions} from 'vuex'
    export default {
        data(){
            return {
                breadcrumbItems:[{url:'dashboard',title:'Dashboard'}],
                headingItems:[{url:'createJudgeTaskGroup',title:'Tambah',icon:'icon-plus-circle2'}],
                headersData:['No','Nama Bidang Kegiatan','Kelompok','Penilai','Tata Cara','Aksi'],
                columns:['no','taskTitle','groupName','fullName','judgingType','actions'],
                options: {
                    headings: {
                        no: 'No',
                        taskTitle:'Nama Bidang Kegiatan',
                        groupName:'Kelompok',
                        fullName:'Penilai',
                        judgingType:'Tata Cara',
                        actions:'Aksi'
                    },
                    templates:{
                        no:function (h,row,index) {
                            return index
                        }
                    },
                    useVuex:true,
                    theme:'bootstrap3',
                    sortable: ['groupName','taskTitle','fullName'],
                    filterable: ['groupName','taskTitle','fullName']
                },
                stateName:'JudgeTaskGroupsStore'
            }
        },
        mounted(){
            this.$store.dispatch('JudgeTaskGroupsStore/browse',{url:'/penilai'})
        },
        computed:{
            ...mapGetters('JudgeTaskGroupsStore',{judgeTaskGroups:'getJudgeTaskGroups'})
        },
        methods:{
            ...mapActions('JudgeTaskGroupsStore',{del:'del'}),
            deleteJudge(id,taskTitle,groupName,judgeName){
                let index = this.judgeTaskGroups.findIndex(data => data.uuid === id)
                this.$swal({
                    title: "Konfirmasi",
                    text: "Apakah anda ingin menghapus penilai "+judgeName+" dari bidang kegiatan "+taskTitle+" pada "+groupName,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya!'
                }).then((result) => {
                    if(result.value){
                        this.del({id:id,index:index}).then((result)=>{
                            this.$toasted.success(result)
                        }).catch((error)=>{
                            error.response.data.errorMessage.forEach((message)=>{
                                this.$toasted.error(message)
                            })
                        })
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>