<template>
    <div>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info no-border">
                    <span class="text-bold">Selamat Datang Admin</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <information-widget></information-widget>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <fieldset class="content-group">
                            <legend class="text-bold">Kegiatan Traveling PMR</legend>
                            <table-pmr-traveling></table-pmr-traveling>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <fieldset class="content-group">
                            <legend class="text-bold">Kegiatan Non Traveling PMR</legend>
                            <table-pmr-non-traveling></table-pmr-non-traveling>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <fieldset class="content-group">
                            <legend class="text-bold">Kegiatan Traveling Fasilitator</legend>
                            <!--<table-fasilitator-traveling></table-fasilitator-traveling>-->
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import InformationWidget from '../InformationWidget'
    import TablePmrTraveling from './TablePmrTraveling'
    import TablePmrNonTraveling from './TablePmrNonTraveling'
    import TableFasilitatorTraveling from './TableFasilitatorTraveling'
    export default {
        components:{
            'information-widget':InformationWidget,
            'table-pmr-traveling':TablePmrTraveling,
            'table-pmr-non-traveling':TablePmrNonTraveling,
            'table-fasilitator-traveling':TableFasilitatorTraveling
        }
    }
</script>

<style scoped>

</style>