<template>
    <div>
        <div class="row">
            <div class="cl-xs-12">
                <div class="row">
                    <export-excel
                            v-if="assessmentsFasilitatorTraveling"
                            class="btn btn-link btn-float has-text text-size-small legitRipple"
                            :data="assessmentsFasilitatorTraveling"
                            :fields="jsonField"
                            :name="'data_fasilitator_penilaian_traveling'">
                        <i class="icon-file-excel"></i>
                        Export Excel
                    </export-excel>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <v-client-table v-if="assessmentsFasilitatorTraveling" :data="assessmentsFasilitatorTraveling" :name="stateName" :columns="columns" :options="options">
                    </v-client-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    export default {
        data(){
            return {
                headersData:['Nama Lengkap','Jabatan','Kontingen','Bidang Kegiatan','P','S','K','Total'],
                columns:['fullName','positionName','contingentName','taskTitle','scorePengetahuan','scoreSikap','scoreKetrampilan','total'],
                tooltipMessage:{delete:'Hapus',edit:'Ubah'},
                options: {
                    headings: {
                        fullName:'Nama Lengkap',
                        positionName: 'Jabatan',
                        contingentName:'Kontingen',
                        taskTitle:'Bidang Kegiatan',
                        scorePengetahuan:'P',
                        scoreSikap:'S',
                        scoreKetrampilan:'K',
                        total:'Total'
                    },
                    templates:{
                        scorePengetahuan:function(h,row,index){
                            return row.scores.scorePengetahuan
                        },
                        scoreSikap:function (h,row,index) {
                            return row.scores.scoreSikap
                        },
                        scoreKetrampilan:function (h,row,index) {
                            return row.scores.scoreKetrampilan
                        },
                        total:function(h,row,index){
                            return row.scores.total
                        }
                    },
                    useVuex:true,
                    theme:'bootstrap3',
                    sortable: ['fullName', 'positionName','taskTitle','contingentName','total'],
                    filterable: ['fullName', 'positionName','taskTitle','contingentName','total']
                },
                stateName:'AssessmentsStore',
                jsonField:{
                    'Nama Lengkap':'fullName',
                    'Jabatan':'positionName',
                    'Kontingen':'contingentName',
                    'Bidang Kegiatan':'taskTitle',
                    'Pengetahuan':{
                        field:'scores.scorePengetahuan',
                        callback:(value)=>{
                            return `${value}`
                        }
                    },
                    'Sikap':{
                        field:'scores.scoreSikap',
                        callback:(value)=>{
                            return `${value}`
                        }
                    },
                    'Ketrampilan':{
                        field:'scores.scoreKetrampilan',
                        callback:(value)=>{
                            return `${value}`
                        }
                    },
                    'Total':{
                        field:'scores.total',
                        callback:(value)=>{
                            return `${value}`
                        }
                    }
                }
            }
        },
        created(){
            this.$store.dispatch('AssessmentsStore/getAssessmentResultFasilitatorTraveling',{url:'/nilai/fasilitator/traveling'})
        },
        computed:{
            ...mapGetters('AssessmentsStore',{assessmentsFasilitatorTraveling:'getAssessmentResultFasilitatorTraveling'})
        }
    }
</script>

<style scoped>

</style>